
body {
  margin: 0;
  padding: 0;
}

img {/*turn image into circular*/
    border-radius: 50%;
    border-width: thick;
    height:200px;
    width:200px;
    
    
  }

 .flex-container{/*add the background for the name and about me*/
    display:flex;
    justify-content: flex-start;
    background:#E0FBFC;
    padding: 40px;
        

 }

 .flex-img{/*position image*/
     margin-left: 40px;
     margin-top: 20px;
 }

 .flex-item{/*size and position for name*/
   font-size: 35px;
   font-weight: bold;
   align-items: center;
   margin-top: 60px;    
   margin-left: 45px;

 }
#about-me{
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;    
    margin-left: 0px;
    margin-right: 60px;
 }

 .flex-item1{/*size and position for contacts*/
   font-size: 18px;
   font-weight: bold;
   position: relative;
   top: 30px;
   right: 310px;

 }

.nav {
  position: fixed;     /* stays at top */
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;     
  justify-content: center;  
  align-items: center;
  gap: 50px;

}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
 

}
.nav a1 {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.nav a2 {
  color: black;
  text-decoration: none;
  font-size: 18px;
   

}
.nav a3 {
  color: black;
  text-decoration: none;
  font-size: 18px;
 

}
.nav a:hover {
  text-decoration: underline;
}
/*past proj images*/
.proj {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  
}

.project-img {
  width: 200px;
  height: 200px;      
  border-radius: 12px; 
  object-fit: fill;
}
